.title-requirements {
  font-size: 30px;
  font-weight: bold;
}

.title-requirements p {
  margin: 0 auto;
}

.center-title-requirements {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20%;

}

.flexbox-container-requirements {
  width: 100%;
  display: flex;
  margin-top: 4%;
}

.flexbox-container-requirements > div {
  width: 50%;
  padding: 10px;
}

.flexbox-tips {
  display: flex;
  flex-direction: column;
}

.tips {
  font-size: 20px;
  display: flex;
}

.border-shadow {
  border-top: 1px solid #f2f5fa;
  margin: 0 auto;
  width: 80%;
  margin-top: 5%;
  box-shadow: 0 -5px 5px -5px #f2f5fa;
}

.text-center {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.color-bullet-green {
  color: #acc953;
  font-size: 4rem;
}
.color-bullet-dark {
  color: #1e2638;
  font-size: 4rem;
}
.color-bullet-blue {
  color: #4fa6da;
  font-size: 4rem;
}
