.flexbox-container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  background-image: url(../../assets//Backgrounds/Bg_Footer.png);
}

.title-footer-bold {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 1%;
}

.title-footer {
  font-size: 40px;
}

.color-blue {
  color: #4fa6da;
}

.btn-content {
  margin-top: 3%;
}

.btn-content > a:hover {
  color: #00a7e8;
  background-color: white;
  border: 1px solid #00a7e8;
}

.title-footer-text {
  margin-top: 10%;
  font-size: 20px;
}

.button-footer {
  border-radius: 30px;
  padding: 15px 60px;
  border: 1px solid #00a7e8;
  background-color: #00a7e8;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

